* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
}

/* Header */

header {
    background-color: rgb(33, 24, 59);
    width: 100vw;
    margin-bottom: 30px;
    position: sticky;
    top: 0;
    border: 1px solid black;
}

nav {
    margin: 10px auto;
}

nav a {
    display: inline-block;
    color: rgb(227, 227, 227);
    list-style-type: none;
    text-decoration: none;
}

nav li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 0.5rem;
    letter-spacing: 5px;
    color: hsl(0, 0%, 20%);
    background-color: rgb(227, 227, 227);
    width: fit-content;
    margin: 30px auto;
    border-radius: 10px;
    opacity: .8;
    font-size: 3rem;
}

h2 {
    margin-left: 20px;
    font-size: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* table */

table {
   /* border: 1px solid rgb(166, 169, 173);*/
    margin: 3rem auto;
    border-collapse: collapse;
    width: 80%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
}

thead {
    background-color: rgb(33, 24, 59);
    color: rgb(227, 227, 227);
    
}

caption {
    padding-bottom: 20px;
}

tr {
    height: 2.5rem;
}

td {
    /*border: 1px solid rgb(166, 169, 173);*/
    padding: 5px;
}

.code {
    font-family: Courier, monospace;
    background-color: gray;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: .9em;
    color: linen;
}

.col1 {
    width: 115px;
}

table caption {
    font-size: 2rem;;
}

tr:nth-child(even) {
    background-color: rgb(230, 237, 251);
}